<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <div class="container work-detail">
            {{ partial "nav.html" . }}
            <main>
                <div class="left">
                    <div class="top-container">
                        <div>
                            <p class="title">{{ .Params.ko.title }} {{ .Params.en.title }}</p>
                            <p class="workType" data-lang="ko">{{ .Params.ko.workType }}</p>
                            <p class="workType" data-lang="en">{{ .Params.en.workType }}</p>    
                            <p class="date">
                                {{ time .Params.ko.startDate | time.Format "2006.01.02" }}-{{ time .Params.ko.endDate | time.Format "02" }}
                            </p>
                            <p class="venue" data-lang="ko">{{ .Params.ko.venue }}</p>
                            <p class="venue" data-lang="en">{{ .Params.en.venue }}</p>
                            <p class="production" data-lang="ko">{{ .Params.ko.production }}</p>
                            <p class="production" data-lang="en">{{ .Params.en.production }}</p>
                        </div>

                        <div>
                            <p class="description" data-lang ="ko">{{ .Params.ko.description | markdownify }}</p>
                            <p class="description" data-lang ="en">{{ .Params.en.description | markdownify }}</p>
                        </div>

                        <div>
                            <p class="credit" data-lang="ko">{{ .Params.ko.credit | markdownify }}</p>
                            <p class="credit" data-lang="en">{{ .Params.en.credit | markdownify }}</p>
                        </div>
                    </div>

                    <div class="articles-container">
                        <ul>
                            {{ range .Params.ko.articles }}
                                <li>
                                    <a href="{{ .url }}">{{ .title }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>

                    <div class="critics-container">
                        <ul>
                            {{ range .Params.ko.critics }}
                                <li>
                                    <a href="{{ .url }}">{{ .title }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="right">
                    {{ range .Params.ko.images }}
                        <img src="{{ . }}" alt="" />
                    {{ end }}
                </div>
            </main>
        </div>
    </body>
</html>
